
.opponent {
    display: flex;
}

.board {
    position: relative;
    width: 400px;
    height: 400px;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 30px[col-start]);
    grid-template-rows: repeat(10, 30px[col-start]);
}

.layer .sea_square {
    width: 100%;
    height: 100%;
    background-color: blue;
    border: 1px solid #fff;
}

.layer .fleet_square {
    width: 100%;
    height: 100%;
}

.layer .ship_square {
    width: 100%;
    height: 100%;
    background-color: red;
}

.fleet {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 30px[col-start]);
    grid-template-rows: repeat(10, 30px[col-start]);
}

.fleet .square {
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    background-color: red;
}

.fleet .ship {
    border-radius: 10px;
}

.fleet .ship {    
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: red;
}

.shoots {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 30px[col-start]);
    grid-template-rows: repeat(10, 30px[col-start]);
}

.shoots .square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shoots .shoot {
    display: inline-block;
    background-color: yellow;
    width: 50%;
    height: 50%;
    border-radius: 100%;
}

.sunk-ships {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 30px[col-start]);
    grid-template-rows: repeat(10, 30px[col-start]);
}

.sunk-ships .wrapper {
    padding: 4px;
}

.sunk-ship {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: orangered;
}

.hits {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 30px[col-start]);
    grid-template-rows: repeat(10, 30px[col-start]);
}

.hits .square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hits .hit {
    background-color: green;
    width: 50%;
    height: 50%;
    border-radius: 100%;
}

.triggers {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 30px[col-start]);
    grid-template-rows: repeat(10, 30px[col-start]);
}

.triggers .square {    
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
}

.triggers .square button {    
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

.ship .part {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: gray;
}

.ship .hit {
    background-color: tomato;
}