<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<title>
				{% block title %}
					Battleship!
				{% endblock %}
			</title>
			<link href="{{ asset('css/battleship.css') }}" rel="stylesheet"/>
			{% block stylesheets %}{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
