{% extends "base.html.twig" %}

{% block body %}
<div>
Tour du joueur : {{ game.currentPlayer.name }}
</div>


{{ include('board.html.twig', {shoots: shoots, triggers: triggers}, with_context = false) }}

{{ include('board.html.twig', {ships: ships}, with_context = false) }}


{% endblock %}